@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* reset básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variáveis CSS */
:root{
    --fonte-principal: "Boldonse", system-ui;
    --fonte-footer: "Comfortaa", sans-serif;
    --color-font1: #F5F5F5;
    --color-font2: #333333;
    --color-font3: #2e5e7e;
    --color-font4: #0A0A0A;
    --color-font5: #8bbeff;
    --gradient: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    --border-radius: 20px;
    --font-size: 1rem;
}

html{
    /* ajusta a base da fonte para 10px */
    font-size: 62.5%;
    /* efeito de suavidade ao fazer scroll */
    scroll-behavior: smooth;
}

body{
    background: transparent;
}

img{
    display: block;
    max-width: 100%;
}

nav ul{
    list-style: none;
}

a{
    text-decoration: none;
    font-family: var(--fonte-principal);
    color: var(--color-font2);
    font-weight: 900;
    transition: color .3s;
    font-size: 2rem;
    text-transform: uppercase;
}

a:hover{
    font-family: var(--fonte-principal);
    color: var(--color-font3);
}


.hero{
    width: 100%;
    min-height: 100vh;
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-font1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
 
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: var(--color-font1);
    font-weight: 600;
    font-family: var(--fonte-principal);
}

header nav ul li a:hover{
    color: var(--color-font3);
    text-decoration: none;
    font-family: var(--fonte-principal);
    
}

header #logo{
    font-family: var(--fonte-principal);
    color: var(--color-font1);
    font-size: 2.5rem;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.banner #image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
}

.banner-text {
    font-family: var(--fonte-principal);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    z-index: 1;
}

.banner-text span {
    font-family: var(--fonte-principal);
    color: var(--color-font3);
}

#titulo{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-family: var(--fonte-principal);
}

/*Quiz*/


form#quizForm {
  background: var(--color-font3);
  padding: 30px 40px;
  max-width: 600px;
  width: 100%;
  text-align: left;
}

.quiz-container {
  max-width: 600px;
  margin: 100px auto 40px; 
  padding: 20px;
  background: var(--color-font3);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-family: var(--fonte-principal);
}


#start-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 300px; 
  text-align: center;
  background: var(--color-font3);
  text-align: center;
  font-family: var(--fonte-principal);
}

#quiz-title {
  margin-bottom: 20px; 
  color: var(--color-font1);
}

#quiz-title {
  font-size: 2.8rem;
  color: var(--color-font1);
  margin-bottom: 20px;
  text-align: center;
}

.question {
  margin-bottom: 15px;
}

label {
  display: block;
  margin: 4px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--color-font5);
  color: #2e5e7e;
  background-color: var(--color-font4);
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  color: white;
  margin-top: 10px;
}

button:hover {
  background-color: var(--color-font3);
}

#resultado {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

label {
  font-weight: normal;
  cursor: pointer;
  display: block;
  margin: 8px 0;
  font-size: 1rem;
  color: #333;
}


input[type="radio"] {
  margin-right: 8px;
  cursor: pointer;
}

button {
  padding: 10px 22px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0066cc;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  color: white;
  margin-top: 20px;
}

button:hover {
  background-color: #004999;
}



/* responsividade */
@media (max-width: 700px){
    header nav ul{
        width: 100%;
        height: 100vh;
        background: var(--color-font4);
        position: absolute;
        z-index: 1;
        top: 0;
        left: -100%;
        gap: 0;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

    #titulo{
        font-size: 2rem;
    }

    .header-menu{
        display: flex;
        gap: 20px;
    }
}


#slideshow {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out; 
}

#slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slideshow img.active {
    opacity: 1;
}

body { 
    font-family: Arial, sans-serif; 
    background: #c4c4c4; 
    margin: 0; 
}

header { 
    background: transparent; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
}

.container { 
    padding: 110px;
    max-width: 1200px; 
    margin: 10px auto; 
}

.car-list { 
    display: flex; 
    flex-wrap: wrap-reverse;
    gap: 40px; 
}

.car-card {
    font-family: var(--fonte-footer);
    font-size: 12px;
    background: var(--color-font3);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 300px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.car-card img { 
    margin-bottom: 20px;
    width: 100%; 
    border-radius: 6px; 
}

.car-card h3 { 
    font-family: var(--fonte-footer);
    margin: 10px 0 5px 0; 
}

.car-card p { 
    margin: 5px 0; 
}

.car-card button {
    width: 30rem;
    font-family: var(--fonte-principal);
    margin-top: 10px;
    padding: 10px 20px;
    background: var(--color-font3);
    color: var(--color-font5);
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.car-card button:hover { 
    background: var(--color-font2); 
}

#header-carros,
header-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-font3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: var(--color-font1);
    font-weight: 600;
    font-family: var(--fonte-principal);
}

header nav ul li a:hover{
    color: var(--color-font3);
    text-decoration: none; 
    font-family: var(--fonte-principal);

}


#conteudo1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/img/byd horizontal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#uxcars{
    margin-top: 60rem;
    font-size: 8rem;
    color: var(--color-font3);
}
.outros {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 28, 0.9); 
    font-family: var(--fonte-principal);
    font-size: 28px;
    color: #f5f1e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    z-index: 1;
    padding-bottom: 50rem;
 
}


.outros h2 {
    font-family: var(--fonte-principal);
    font-size: 40px;
    color: var(--color-font5);
    margin-top: 10px;
    margin-bottom: 10px; 
}

#slogan {
    color: var(--color-font3);
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
}


.outros p {
    margin-bottom: 20px;
}

.veja-carros {
    
    background-color: #1c1c1c;
    color: #f5f5f5;
    text-align: center;
    padding: 60px 20px;
    font-family: var(--fonte-principal);
}

.veja-carros h2 {
    font-size: 3rem;
    color: var(--color-font5);
    margin-bottom: 20px;
}

.veja-carros p {
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.btn-carros {
    background-color: var(--color-font3);
    color: white;
    padding: 15px 30px;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btn-carros:hover {
    background-color: var(--color-font2);
}

.footer {
    display: flex;
    margin-top: 30px;
    background-color: #1c1c1c;
    color: #f5f5f5;
    text-align: center;
    padding: 20px 10px;
    font-family: var(--fonte-footer);
    font-size: 1.4rem;
}

.footer-content p {
  margin: 5px 0;
}
